/*
  Name: main.css 2021
  Date: JAN 2021
  Description: Simple layout for Fomantic UI Ampache web player - foam
  Version: 1.0
  Author: Andrew McGee
  Note: Some of this is a hack - overrides may not be necessary if we re-build fomantic with a new theme and variables
*/

/* Imports */
/* @import 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700'; */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+sans+SC&display=swap'); */

		:root {
			--colrfgd1: #2a2c41;  /* Space Cadet */
			--colrbgd1: #556177;  /* Manatee */
			--colrfnt1: #A5A5A5;  /* Main grey text */
			--colrfnt2: #F5F5F5;  /* WhiteSmoke - highlight text and headings */
			--colrfnt3: #556177;  /* Manatee - Now playing text */
			--colrhilt: #0E6EB8;  /* Blue highlight */

			--space-cadet: hsla(235, 21%, 21%, 1);
			--manatee: #556177;
		}
		body {
		 background-color: var(--colrbgd1);
		 color: var(--colrfnt1) !important;
		}

		p {
			font-family: 'Noto Sans SC', sans-serif;
			font-size: 1rem !important;
			color: var(--colrfnt1) !important;
		}

		a:link { color: var(--colrfnt1); text-decoration: none; }
		a:visited { color: var(--colrfnt1); text-decoration: none; }
		a:active { color: var(--colrfnt1); text-decoration: none; }
		a:hover { color: var(--colrfnt1); text-decoration: underline; }

		a.icn:hover { color: var(--colrfnt2); text-decoration: none; }

		.ui.vertical.menu .item > i.icon.left {
		    float: none;
		    margin: 0em 0.35714286em 0em 0em;
				font-size: 1rem !important;
		}

		.ui.input input {
			background-color: var(--colrbgd1) !important;
			color: var(--colrfnt2) !important;
		}

		.ui.button {
			background-color: var(--colrbgd1) !important;
			color: var(--colrfnt1) !important;
		}

		.ui.button:hover {
			background-color: var(--colrbgd1) !important;
			color: var(--colrfnt2) !important;
		}

		.ui.label.filter {
			background-color: var(--colrbgd1) !important;
			color: var(--colrfnt1) !important;
		}

		.icon:hover {
		  	color: var(--colrfnt2) !important;
		}

		.bordered.icon {
		  	-webkit-box-shadow: 0 0 0 0.1em rgba(165, 165, 165, 0.1) inset !important;
          box-shadow: 0 0 0 0.1em rgba(165, 165, 165, 0.1) inset !important;
		}

		.ui.slider .inner .track {
	  	background-color: DimGrey !important;
		}

		.toggle-down {
			transform: rotate(0deg);
	    transition: all 0.25s linear;
		}

		.toggle-up {
	    transform:rotate(180deg);
	    transition: all 0.25s linear;
		}

		.icon.hidden {
			opacity:0 !important;
		}

		.ui.form .field>label {
			color: var(--colrfnt1) !important;
		}

		.ui.checkbox label, .ui.checkbox+label {
			color: var(--colrfnt1) !important;
		}

		.draggable {
			cursor: move;
			user-select: none;
		}

/******************************************
  Add Custom Colours to Semantic Components
*******************************************/
		 .ui.header.smoke {color: whitesmoke;}
		 .ui.header.space {color: var(--colrfgd1);}
		 .ui.icon.space {color: var(--colrfgd1);}
		 .ui.icon.header {color: #A5A5A5;}
		 .ui.header.dim {
			 color: var(--colrfnt1) !important;
			 margin: 1em 2em 0em 3em !important;
		 }

/** Main side menu styling **/
		.sidemenu.column {
		 background-color: var(--colrfgd1);
		 margin: 0em 0em 0em 0em;
		}

     .ui.inverted.side.menu {
       background-color: var(--colrfgd1) !important;
			 color: var(--colrfnt1) !important;
			 margin: 2em 0em 0em 2em;
     }

		 .ui.menu .active.item {
			 background-color: var(--colrbgd1) !important;
		 }

		 .ui.menu .item {
			 color: var(--colrfnt1) !important;
		 }

		 .ui.menu .item:hover {
			 color: var(--colrfnt2) !important;
		 }

/** Drop Down menu styling **/
		 .ui.dropdown .menu {
			 background-color: var(--colrbgd1) !important;
		 }

		 .ui.dropdown .menu>.item {
			 color: var(--colrfnt1) !important;
		 }

		 .ui.dropdown .menu>.item:hover {
			 color: var(--colrfnt2) !important;
		 }

/** Main table styling **/
		 .ui.compact.table {
			 color: var(--colrfnt1) !important;
			 margin: 1em 2em 0em 3em !important;
		 }

		 .ui.inverted.table {
			 color: var(--colrfnt1) !important;
			 background-color: var(--colrfgd1) !important;
		 }

/** Page segments styling **/
     .ui.inverted.top.segment {
       background-color: var(--colrfgd1) !important;
       color: var(--colrfnt1);
			 padding: 1em 2em;
     }

     .ui.inverted.spacecadet.segment {
       background-color: var(--colrfgd1) !important;
       color: var(--colrfnt1) !important;
			 padding: 3em 1em 3em 1em !important;
			 margin: 25em 2em 2em 2em !important;
			 font-size: 1.15rem !important;
     }

     .ui.inverted.manatee.segment {
       background-color: var(--colrbgd1) !important;
       color: var(--colrfnt2) !important;
     }

     .ui.inverted.space.segment {
       background-color: var(--colrfgd1) !important;
       color: var(--colrfnt1) !important;
			 padding: 3em 4em 3em 4em !important;
			 margin: 1em !important;
			 font-size: 1rem !important;
     }
