/*
  Name: main.css 2021
  Date: JAN 2021
  Description: Simple layout for Fomantic UI Ampache web player - foam
  Version: 1.0
  Author: Andrew McGee
  Note: Some of this is a hack - overrides may not be necessary if we re-build fomantic with a new theme and variables
*/

/* Imports */
/* @import 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700'; */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+sans+SC&display=swap'); */

		:root {
			--space-cadet: hsla(235, 21%, 21%, 1);
			--manatee: #556177;
		}
		body {
		 background-color: var(--manatee);
		}

		p {
			font-family: 'Noto Sans SC', sans-serif;
			font-size: 1rem !important;
		}

		a:link { color: gold; text-decoration: none; }
		a:visited { color: gold; text-decoration: none; }
		a:active { color: gold; text-decoration: none; }
		a:hover { color: gold; text-decoration: underline; }

		a.foot:link { color: #A5A5A5; text-decoration: underline; }
		a.foot:visited { color: #A5A5A5; text-decoration: underline; }
		a.foot:active { color: gold; text-decoration: none; }
		a.foot:hover { color: gold; text-decoration: underline; }

/*		.ui.footer.segment {
		 margin: 0em;
		 padding: 5em 0em;
		}
*/
		.ui.vertical.menu .item > i.icon.left {
		    float: none;
		    margin: 0em 0.35714286em 0em 0em;
				font-size: 1rem !important;

		}

		.ui.input input {
			background-color: var(--manatee) !important;
		}

/* Hack to center images that are links
		a.ui.image.centered{
    	display: block;
		}*/

/******************************************
  Add Custom Colours to Semantic Components
*******************************************/
		 .ui.header.smoke {color: whitesmoke;}
		 .ui.header.dim {
			 color: #A5A5A5 !important;
			 margin: 1em 2em 0em 3em !important;
		 }

     .ui.inverted.top.menu {
       background-color: var(--space-cadet) !important;
       color: #A5A5A5 !important;
			 padding: 0em 2em;
     }

		.sidemenu.column {
		 background-color: var(--space-cadet);
		 margin: 1em 0em 0em 0em;
		}

     .ui.inverted.side.menu {
       background-color: var(--space-cadet) !important;
			 color: #A5A5A5 !important;
			 margin: 2em 0em 0em 2em;
     }

		 .ui.menu .active.item {
			 background-color: var(--manatee) !important;
		 }

		 .ui.menu .item {
			 color: #A5A5A5 !important;
		 }

		 .ui.compact.table {
			 color: #A5A5A5 !important;
			 margin: 1em 2em 0em 3em !important;
		 }

		 .ui.inverted.table {
			 color: #A5A5A5 !important;
			 background-color: var(--space-cadet) !important;
		 }

     .ui.inverted.spacecadet.segment {
       background-color: var(--space-cadet) !important;
       color: #A5A5A5 !important;
			 padding: 3em 1em 3em 1em !important;
			 margin: 25em 2em 2em 2em !important;
			 font-size: 1.15rem !important;
     }

     .ui.inverted.manatee.segment {
       background-color: var(--manatee) !important;
       color: whitesmoke !important;
     }

     .ui.inverted.space.segment {
       background-color: var(--space-cadet) !important;
       color: #D0D5D5 !important;
			 padding: 3em 5em 3em 5em !important;
			 margin: 2em !important;
			 font-size: 1rem !important;
     }
